@page "/Cameras"
<PageTitle>Cameras</PageTitle>
<h1>Cameras</h1>

<p>The following are various web cameras that are interesting to me.</p>
<ul>
    <li><a href="http://www.westphalfamily.com/wxdata2.html">Altadena WeatherCam</a></li>
    <li><a href="http://www.westland.net/beachcam">Venice</a>
        (my <a href="VeniceCameraViews">Venice Beach California Camera Views</a>
        page describes the various possible views)</li>
    <li><a href="http://webcam.wfu.edu">Wake Forest University Hearn Plaza Webcam</a></li>
    <li>USC
    <ul>
        <li><a href="https://about.usc.edu/tommy-cam">Tommy Cam</a></li>
        <li><a href="https://about.usc.edu/hecuba-cam">Hecuba Cam</a></li>
    </ul>
    </li>
    <li><a href="https://eol.jsc.nasa.gov/ESRS/HDEV">ISS HD Earth View</a></li>
    <li><a href="http://www.calacademy.org/webcams/farallones">Farallones Web Cam</a>
        (the remote, harsh conditions often interfere with the connection)</li>
    <li><a href="http://hbcams.com">Huntington Beach</a>
        (slow connection so it does not stream well; many years ago the connection was excellent)</li>
    <li><a href="https://sandiegozoowildlifealliance.org">San Diego Zoo</a>
        <ul>
            <li><a href="http://zoo.sandiegozoo.org/cams/penguin-cam">
                Penguin Cam</a> (scroll down)</li>
            <li><a href="https://zoo.sandiegozoo.org/cams/ape-cam">
                Ape Cam</a> (scroll down)</li>
        </ul>
    </li>
    <li>EarthCams
        <ul>
            <li><a href="http://www.earthcam.com/usa/newyork/timessquare/?cam=tsrobo1">Times Square</a></li>
            <li><a href="http://www.earthcam.com/usa/newyork/littleitaly/?cam=littleitaly">Mulberry Street</a></li>
            <li><a href="http://www.earthcam.com/usa/louisiana/neworleans/bourbonstreet">New Orleans Cam</a></li>
        </ul>
    </li>
</ul>    
