@page "/"
<PageTitle>Sam Hobbs' Website</PageTitle>
<h1>Sam Hobbs' Website</h1>

<p>Although I am a retired computer programmer, I continue to program.
This is my (mostly non-technical) personal web site.</p>

<p>I have also been a victim of asthma and sinus problems. Due to the asthma,
many years ago, I often went <a href="hiking">Hiking</a>.</p>
