@page "/VeniceCameraViews"
<PageTitle>Venice Camera Views</PageTitle>
<h1>Venice Camera Views</h1>

<p>The following is intended to be a simple legend of the
<a href="http://www.westland.net/beachcam">BEACH CAM - Live streaming webcam 
from Venice Beach, California</a>. I think the website should do something like 
this but I don't see such a thing. This is not the best but I hope it helps.</p>
<p>The following are the views available.</p>
<ul>
<li>Bike Path</li>
<li>Boardwalk Close-Up</li>
<li>Boardwalk Looking North</li>
<li>Boardwalk Looking South</li>
<li>Graffiti Pit</li>
<li>LAPD Pacific Division</li>
<li>Santa Monica Pier</li>
<li>Skate Dance Rink</li>
<li>Skate Park</li>
<li>Skateboard Warm Up Area</li>
<li>South Lawn</li>
<li>Surfs Up?</li>
<li>Wide View</li>
</ul>
<p>Look at the far left of the Wide View. There is a cone in 
the sand at the far left, so small that it is difficult to see. The same cone 
can be seen at the right of the Graffitti Pit and at the far left (almost 
outside the image) of Surfs Up. It is also in the top-middle of Skateboard Warm Up. Skate Dance Plaza 
is to the right of Skateboard Warm Up. Finally, Skate Park is above (further 
away from) Skateboard Warm Up.</p>

<div class="figscontainer">

<center>
<div class="figsrow">
	<div class="figsleft">
	<figure>
	<a href="images/GraffitiPit.jpg">
	<img alt="" height="230" src="images/GraffitiPit_small.jpg" width="400" />
	</a>
	<figcaption>Graffiti Pit</figcaption>
	</figure>
	</div>
	<div class="figsmiddle">
	<figure>
	<a href="images/SurfsUp.jpg">
	<img alt="" height="228" src="images/SurfsUp_small.jpg" width="400" />
	</a>
	<figcaption>Surfs Up</figcaption>
	</figure>
	</div>
	<div class="figsright">
	<figure>
	<a href="images/SkatePark.jpg">
	<img alt="" height="227" src="images/SkatePark_small.jpg" width="400" />
	</a>
	<figcaption>Skate Park</figcaption>
	</figure>
	</div>
</div>
</center>

<center>
<div class="figsrow">
	<div class="figsmiddle">
	<figure>
	<img src="images/WideView.jpg"/>
	<figcaption>Wide View</figcaption>
	</figure>
	</div>
</div>
</center>

<center>
<div class="figsrow">
	<div class="figsleft">
	<figure>
	<a href="images/SkateboardWarmUp.jpg">
	<img alt="" height="228" src="images/SkateboardWarmUp_small.jpg" width="400" /></a>
	<figcaption>Skateboard Warm-Up Area</figcaption>
	</figure>
	</div>
	<div class="figsright">
	<figure>
	<a href="images/SkateDancePlaza.jpg">
	<img alt="" height="227" src="images/SkateDancePlaza_small.jpg" width="400" /></a>
	<figcaption>Skate Dance Rink</figcaption>
	</figure>
	</div>
</div>
</center>

</div>
