@page "/Websites"
<PageTitle>Website Advice</PageTitle>
<h1>Website Advice</h1>

<p>Many people are using websites. If you use the internet then you are using
	websites. Many people are even <strong>creating</strong> websites. There
	are many ways to create websites. Here is a little bit of (mostly non-technical)
	advice about creating websites.</p>
<p>First, it helps to understand what <em>domain names</em> are and about
	registering them. Second you need to understand about <em>hosts</em> and
	<em>hosting</em>. The next thing to understand is how to create the website.</p>

<h2>Domain Names</h2>
<p>The domain name of this site is SamHobbs.org (it does not matter whether you
	use upper case or lower case for domain names). You must <em>register</em>
	a domain name to use it and pay an annual fee. Usually it is possible to
	combine domain registration and website hosting into one service so see the
	following about that. For free hosting plans we ussualy do not need a
	domain name.</p>

<h2>Hosts</h2>
<p>Unless you are a large organization you are likely to use a hosting company
	for your website. The host is where your webiste exists. There are very
	many considerations to understand relevant to choosing a hosting company.
	One consideration is whether you want a Linux (Apache) server or a
	Windows (IIS) server.</p>
<h4>WordPress</h4>
<p>You can create a WordPress site for free in
	<a href="https://wordpress.com">WordPress.com</a>,
	except (if you are not paying) your site will have an address such as
	&quot;wordpress.com/read/blogs/95196423&quot; where the number will identify
	your &quot;blog&quot;.</p>
<h4>Google</h4>
<p>Most (probably all) people with an Android phone have a Google account. With
	a Google account we can create web sites for free, as in my
	<a href="https://sites.google.com/site/socalsamssite">So Cal Sam&#39;s Site</a>.
	The web site address (URL) will be something like
	&quot;https://sites.google.com/site/socalsamssite&quot; where the name
	&quot;socalsamssite&quot; is chosen by you. There are some things about
	Google Sites that are frustrating and the features are limited but Google
	seems to be improving Google Sites.</p>
<h3>Features</h3>
<p>The following are features that might be important to you or might not and that 
	are often not made obvious in hosting company&#39;s list of features.</p>
<ul>
	<li>Multiple domains (probably not relevant to websites for companies)</li>
	<li>Databases (economical hosting plans provide little or no databases)</li>
	<li>Email (economical hosting plans provide at most a few email accounts)</li>
</ul>
<h2>Creating the Site</h2>
<p>Usually it is possible to purchase both services from one company, both the domain name registration and the hosting, so that they might seem to be one thing. One significant advantage of that is that it is easier for you and support personnel to make them work together. As a beginner it is better to use the same service for both domain name registeration and hosting.</p>
<p>The next thing to understand is how to create the website. There are many ways to do that. You can use just plain HTML and/or you can use programming with HTML. The programming can be done in the server or the client. A client is the user&#39;s system; you might call it a browser, such as Internet Explorer, Firefox, Google Chrome or Microsoft Edge. One advantage of doing things in the server is that your programs are protected from (cannot be seen or altered by) the public. One advantage of doing things in the client is performance; anythng done in the client does not require the clent computer to send a request to the server and get a response back.</p>
<p>There are many website providers, such as&nbsp; <a href="https://www.wix.com">Wix.com</a>, that make it easy to create web sites. The disadvantage of most of the companies that do that is that it is difficult to move your website somewhere else using different software. Their software is proprietary and most of them don&#39;t want to make it easy for you to go elsewhere.</p>
<p>There is software called a Content Management System (CMS) that is quite popular. There is not a clear definition of what a CMS is except that they make it easier for non-technical people to create webistes. Most (probably all) CMSs have a way for programmers to create customizations of the CMS so that the CMS can do things specialized for the website. Each CMS has it&#39;s own terminology for referring to the customizations, such as extension, module, plugin or widget; see <a href="https://cms2cms.com/blog/modulespluginscomponents-what-are-they">Modules/Plugins/Components - What Are They?</a> for more about that. The most popular CMS is WordPress; some other popular CMSs are Joomla! and Drupal. Wordpress can be used in (installed into) most hosts and many hosting companies have special packages dedicated to Wordpress. </p>
<p>Young people should learn about website development. I am not suggesting website development as a career but 
	many careers will be benefited by the ability to develop websites.</p>
